.idea/
.vscode/

Controller/devel/
Controller/build/
Controller/.catkin_workspace

Simulator/devel/
Simulator/build/
Simulator/logs/
Simulator/.catkin_tools/

UAST/saved/*
dataset_keep/
dataset/
dataset1/
dataset2/
dataset3/
dataset_tree/

!UAST/saved/UAST_track/
!UAST/saved/YOPO_nav/

**/__pycache__

**/real_world
**/real_data
realworld_rs_track/

**/*.bag
**/*.pcd